{% extends "layout.html" %}
{% load static %}
{% block title %}Digitech-Home{% endblock title %}
{% block main %}  
    <!-- Hero slider -->
    <section class="section-hero padding-b-100 next">
        <div class="cr-slider swiper-container">
            <div class="swiper-wrapper">
                {% for slide in home_slider  %}
                <div class="swiper-slide">
  
                    <div class="cr-hero-banner cr-banner-image-two" style="background-image: url({{slide.image.url}});">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cr-left-side-contain slider-animation">
                                       
                                        <h1>{{slide.description}}</h1>
                                        <p>{{slide.content}}</p>
                                        <div class="cr-last-buttons">
                                            <a href="{% url 'info:shop' %}" class="cr-button">
                                                shop now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- Categories -->
    <section class="section-categories padding-b-100">
        <div class="container">
            <div class="row mb-minus-24">
                <div class="col-lg-4 col-12 mb-24">
                    <div class="cr-categories">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for category in general_categories %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if forloop.first %}active{% endif %} center-categories-inner" id="{{ category.title|slugify }}-tab"
                                        data-bs-toggle="tab" data-bs-target="#{{ category.title|slugify }}" type="button" role="tab"
                                        aria-controls="{{ category.title|slugify }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                        {{ category.title }}
                                    </button>
                                </li>
                            {% endfor %}
                            <li class="nav-item" role="presentation">
                                <a class="center-categories-inner cr-view-more" href="shop-left-sidebar.html">
                                    View More
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-12 mb-24">
                    <div class="tab-content" id="myTabContent">
                        {% for category in general_categories %}
                            <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="{{ category.title|slugify }}" role="tabpanel"
                                aria-labelledby="{{ category.title|slugify }}-tab">
                                
                                <div class="row mb-minus-24">
                                    {% for campaign in category.campaign_sub_categories.all %}
                                    {% if campaign.is_slide == False %}
                                    
                                    <div class="col-6 cr-categories-box mb-24">
                                        <div class="cr-side-categories">
                                            <div class="categories-inner">
                                                {% if campaign.discount_percent %}
                                                    <h4>{{ campaign.discount_percent }}
                                                        <span>
                                                            <small>%</small>
                                                            <small>Off</small>
                                                        </span>
                                                    </h4>
                                                {% endif %}
                                            </div>
                                            <div class="categories-contain">
                                                <div class="categories-text">
                                                    <h5>{{ campaign.title }}</h5>
                                                </div>
                                                <div class="categories-button">
                                                    <a href="shop-left-sidebar.html" class="cr-button">shop now</a>
                                                </div>
                                            </div>
                                            <img  src="{{ campaign.image.url }}" alt="{{ campaign.title }}">
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Popular product -->
    
<section class="section-categories padding-b-100">
        <div class="container" data-aos="fade-up" data-aos-duration="2000">
            <div class="row mb-minus-24">
                <div class="col-xl-3 col-lg-4 col-12 mb-24 ">
                    <div class="cr-categories sticky cr-product-tabs">
                        <ul class="nav nav-tabs " id="myTab" role="tablist">
                            {% for category in categories %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if forloop.first %}active{% endif %} center-categories-inner" id="{{ category.title|slugify }}-tab"
                                        data-bs-toggle="tab" data-bs-target="#{{ category.title|slugify }}" type="button" role="tab"
                                        aria-controls="{{ category.title|slugify }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                        {{ category.title }}
                                    </button>
                                </li>
                            {% endfor %}
                            <li class="nav-item" role="presentation">
                                <a class="center-categories-inner cr-view-more" href="shop-left-sidebar.html">
                                    View More
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-12 mb-24">
                    <div class="tab-content" id="myTabContent">
                        {% for category in categories %}
                            <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="{{ category.title|slugify }}" role="tabpanel"
                                aria-labelledby="{{ category.title|slugify }}-tab">
                                
                                <div class="row mb-minus-24">
                                    {% for product in category.products.all %}
                                        {% if product.featured %}
                                            {% if forloop.counter <= 8 %}
                                                <div class="col-xxl-3 col-xl-4 col-6 cr-product-box mb-24">
                                                    {% include 'includes/product-cart.html' with product=product %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section> 
    
  
    <!-- Product banner -->
    <section class="section-product-banner padding-b-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cr-banner-slider swiper-container">
                        <div class="swiper-wrapper">
                            {% for is_slide in is_slide_campaign  %}
                            
                            <div class="swiper-slide" style="height:220px;" data-aos="fade-up" data-aos-duration="2000">
                                <div class="cr-product-banner-image" style="height:100%;">
                                    <img src="{{is_slide.image.url}}" alt="product-banner" style="object-fit:cover;height:100%;">
                                    <div class="cr-product-banner-contain">
                                        <h5>{{is_slide.title}}</h5>
                                        <p><span class="percent">{{is_slide.discount_percent}}%</span> endirim <span class="text">{{is_slide.description}}</span>
                                        </p>
                                        <div class="cr-product-banner-buttons">
                                            <a href="shop-left-sidebar.html" class="cr-button">shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="section-services padding-b-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cr-services-border" data-aos="fade-up" data-aos-duration="2000">
                        <div class="cr-service-slider swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="cr-services">
                                        <div class="cr-services-image">
                                            <i class="ri-red-packet-line"></i>
                                        </div>
                                        <div class="cr-services-contain">
                                            <h4>Product Packing</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cr-services">
                                        <div class="cr-services-image">
                                            <i class="ri-customer-service-2-line"></i>
                                        </div>
                                        <div class="cr-services-contain">
                                            <h4>24X7 Support</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cr-services">
                                        <div class="cr-services-image">
                                            <i class="ri-truck-line"></i>
                                        </div>
                                        <div class="cr-services-contain">
                                            <h4>Delivery in 5 Days</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cr-services">
                                        <div class="cr-services-image">
                                            <i class="ri-money-dollar-box-line"></i>
                                        </div>
                                        <div class="cr-services-contain">
                                            <h4>Payment Secure</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Deal -->
    <section class="section-deal padding-b-100">
        <div class="bg-banner-deal">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cr-deal-rightside">
                            <div class="cr-deal-content" data-aos="fade-up" data-aos-duration="2000">
                                <span><code>35%</code> OFF</span>
                                <h4 class="cr-deal-title">Great deal on organic food.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do maecenas accumsan
                                    lacus
                                    vel facilisis. </p>
                                <div id="timer" class="cr-counter">
                                    <div class="cr-counter-inner">
                                        <h4>
                                            <span id="days"></span>
                                            Days
                                        </h4>
                                        <h4>
                                            <span id="hours"></span>
                                            Hrs
                                        </h4>
                                        <h4>
                                            <span id="minutes"></span>
                                            Min
                                        </h4>
                                        <h4>
                                            <span id="seconds"></span>
                                            Sec
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Popular product -->
    <section class="section-popular margin-b-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12" data-aos="fade-up" data-aos-duration="2000">
                    <div class="cr-twocolumns-product">
                        {% for recent_product in recent_products  %}
                        
                        <div class="slick-slide">
                            {% include 'includes/product-cart.html' with product=recent_product %}

                        </div>
                        {% endfor %}
                        
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Testimonial -->
    <section class="section-testimonial padding-b-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-30" data-aos="fade-up" data-aos-duration="2000">
                        <div class="cr-banner">
                            <h2>Great Words From People</h2>
                        </div>
                        <div class="cr-banner-sub-title">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore lacus vel facilisis. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cr-testimonial-slider swiper-container">
                        <div class="swiper-wrapper cr-testimonial-pt-50">
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="2000">
                                <div class="cr-testimonial">
                                    <div class="cr-testimonial-image">
                                        <img src="{% static 'img/testimonial/1.jpg' %}" alt="businessman">
                                    </div>
                                    <div class="cr-testimonial-inner">
                                        <span>Co Founder</span>
                                        <h4 class="title">Stephen Smith</h4>
                                        <p>“eiusmpsu dolor sit amet, conse cte tur ng elit, sed do eiusmod tem lacus vel
                                            facilisis.”
                                        </p>
                                        <div class="cr-star">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="2000">
                                <div class="cr-testimonial">
                                    <div class="cr-testimonial-image">
                                        <img src="{% static 'img/testimonial/2.jpg' %}" alt="businessman">
                                    </div>
                                    <div class="cr-testimonial-inner">
                                        <span>Manager</span>
                                        <h4 class="title">Lorem Robinson</h4>
                                        <p>“eiusmpsu dolor sit amet, conse cte tur ng elit, sed do eiusmod tem lacus vel
                                            facilisis.”
                                        </p>
                                        <div class="cr-star">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="2000">
                                <div class="cr-testimonial">
                                    <div class="cr-testimonial-image">
                                        <img src="{% static 'img/testimonial/3.jpg' %}" alt="businessman">
                                    </div>
                                    <div class="cr-testimonial-inner">
                                        <span>Team Leader</span>
                                        <h4 class="title">Saddika Alard</h4>
                                        <p>“eiusmpsu dolor sit amet, conse cte tur ng elit, sed do eiusmod tem lacus vel
                                            facilisis.”
                                        </p>
                                        <div class="cr-star">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog -->
    <section class="section-blog padding-b-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-30" data-aos="fade-up" data-aos-duration="2000">
                        <div class="cr-banner">
                            <h2>Latest News</h2>
                        </div>
                        <div class="cr-banner-sub-title">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore lacus vel facilisis. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cr-blog-slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="2000">
                                <div class="cr-blog">
                                    <div class="cr-blog-content">
                                        <span><code>By Admin</code> | <a href="blog-left-sidebar.html">Snacks</a></span>
                                        <h5>Urna pretium elit mauris cursus at elit Vestibulum.</h5>
                                        <a class="read" href="blog-detail-left-sidebar.html">Read More</a>
                                    </div>
                                    <div class="cr-blog-image">
                                        <img src="{% static 'img/blog/2.jpg' %}" alt="blog-2">
                                        <div class="cr-blog-date">
                                            <span>
                                                10
                                                <code>oct</code>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="2000">
                                <div class="cr-blog">
                                    <div class="cr-blog-content">
                                        <span><code>By Admin</code> | <a href="blog-left-sidebar.html">Food</a></span>
                                        <h5>Best guide to Shopping for organic ingredients.</h5>
                                        <a class="read" href="blog-detail-left-sidebar.html">Read More</a>
                                    </div>
                                    <div class="cr-blog-image">
                                        <img src="{% static 'img/blog/1.jpg' %}" alt="blog-1">
                                        <div class="cr-blog-date">
                                            <span>
                                                09<code>sep</code>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="2000">
                                <div class="cr-blog">
                                    <div class="cr-blog-content">
                                        <span><code>By Admin</code> | <a href="blog-left-sidebar.html">Snacks</a></span>
                                        <h5>Cursus at elit vestibulum urna pretium elit mauris.</h5>
                                        <a class="read" href="blog-detail-left-sidebar.html">Read More</a>
                                    </div>
                                    <div class="cr-blog-image">
                                        <img src="{% static 'img/blog/3.jpg' %}" alt="blog-2">
                                        <div class="cr-blog-date">
                                            <span>
                                                12
                                                <code>oct</code>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="2000">
                                <div class="cr-blog">
                                    <div class="cr-blog-content">
                                        <span><code>By Admin</code> | <a
                                                href="blog-left-sidebar.html">Vegetable</a></span>
                                        <h5>Condimentum Nam enim bestMorbi odio sodales.</h5>
                                        <a class="read" href="blog-detail-left-sidebar.html">Read More</a>
                                    </div>
                                    <div class="cr-blog-image">
                                        <img src="{% static 'img/blog/2.jpg' %}" alt="blog-3">
                                        <div class="cr-blog-date">
                                            <span>
                                                22
                                                <code>jan</code>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    {% for product in all_products  %}
    
    {% include 'includes/quickview.html' with product=product %}
    {% endfor %}

    {% endblock main %}